<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta encoding="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" type="text/css" href="{% static "messaging/css/styles_for_chat.css" %}">
	<title>B'n'J chat</title>
</head>
<body>
	{% include "header.html" %}
	<main>
		<section class="reciever">
			<ul class="reciever_list">
				<li><img class="image_of_reciever"></li>
				<li><span class="name_of_reciever"></span></li>
				<li>
					<details class="options">
						<summary></summary>
						<ul>
							<li class="clear">Очитить историю</li>
							<li class="block">Заблокировать</li>
						</ul>
					</details>
				</li>
			</ul>
		</section>
		<section class="messages">
		<section class="message_area">
		</section>
		<section class="sender"><details class="add">
				<summary></summary>
			</details><textarea placeholder="Введите сообщение"></textarea><span class="submit_button">&#9993;</span></section>
		</section>
	</main>
	<script type="text/javascript" src="{% static "base/jquery-3.6.0.js"%}"></script>
	{% include "csrf.html" %}
	<script type="text/javascript" src="{% static "messaging/js/chat.js" %}"></script>
</body>
</html>